<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            $title$ &middot; The Good, The Bad, and The Ramified
        </title>
        <!-- Meta -->
        <meta name="description" content="The most popular HTML, CSS, and JS framework in the world.">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <!-- Documentation extras -->
        <link href="/css/docs.min.css" rel="stylesheet">
        <link href="/css/custom.css" rel="stylesheet">
        <!-- Favicons -->
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="icon" href="/favicon.ico">
        <!-- Google Analytics! -->
        <!-- MathJax -->
        <script type="text/x-mathjax-config">
         MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "AMS" } }, tex2jax: { inlineMath: [ ['\\\(','\\\)'] ], displayMath: [ ['\\\[','\\\]'] ], processEscapes: true, } });
        </script>
        <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_SVG">
        </script>
    </head>

    <body class="bd-docs" data-spy="scroll" data-target="#sidebar-nav-parent">
        <a id="skippy" class="sr-only sr-only-focusable" href="#content">
            <div class="container">
                <span class="skiplink-text">Skip to main content</span>
            </div>
        </a>
        <header class="navbar navbar-light navbar-static-top bd-navbar">
            <div class="container">
                <nav>
                    <div class="clearfix">
                        <!-- <button class="navbar-toggler float-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation"></button> -->
                        <a class="navbar-brand" href="/">
                            The Good, The Bad, and The Ramified
                        </a>
                    </div>
                    <span hidden>$partial("templates/minified-latex-macros.html")$</span>
                </nav>
            </div>
        </header>
        <div class="bd-pageheader">
            <div class="container">
                <h1>
                    $if(header)$ $header$ $else$ $title$ $endif$
                </h1>
                $if(subtitle)$
                <p class="lead">
                    $subtitle$
                </p>
                $else$
                $endif$

                $if(date)$
                <p class="lead">
                    posted on $date$
                </p>
                $endif$

                $if(tags)$
                <p class="lead">
                    tagged <i>$tags$</i>
                </p>
                $endif$
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3 push-md-9 bd-sidebar">
                    <nav class="bd-toc-item active" id="sidebar-nav-parent" data-spy="affix">
                        <ul class="nav bd-sidenav hidden-md-down">
                            $if(sidenav)$
                            $sidenav$
                            $endif$
                        </ul>
                    </nav>
                </div>

                <div class="col-xs-12 col-md-9 pull-md-3 bd-content">
                    $if(lead)$
                    <p class="lead">
                        $lead$
                    </p>
                    $endif$
                    $body$
                </div>
            </div>
        </div>
        <footer class="bd-footer text-muted">
            <div class="container">
                <p>All content licensed <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>.</p>
                <p>Made with Hakyll and Bootstrap.</p>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
        <script>
         window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')
        </script>
        <script src="/js/vendor/tether.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/docs.min.js"></script>
        <script src="/js/affix.js"> </script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/js/ie10-viewport-bug-workaround.js"></script>
        <script src="/js/ie-emulation-modes-warning.js"></script>
        <!-- <script src="/js/vendor/jekyll-search.min.js"></script> -->
        <script type="text/javascript">
         jQuery(document).ready(function() {
             console.log("Affixing!");
             jQuery(".bd-sidenav").affix({
                 offset: {
                     top: jQuery(".bd-pageheader").outerHeight(true)
                 }
             });
         });
        </script>
    </body>

</html>
