<div class="bd-toc-item active">
    <a class="bd-toc-link" href="/getting-started/introduction">
        Getting started
    </a>
    <ul class="nav bd-sidenav">
        <li class="">
            <a href="/getting-started/introduction/">
                Introduction
            </a>
        </li>
        <li class="active bd-sidenav-active">
            <a href="/getting-started/build-tools/">
                Build tools
            </a>
        </li>
        <li class="">
            <a href="/getting-started/accessibility/">
                Accessibility
            </a>
        </li>
    </ul>
</div>
<div class="bd-toc-item">
    <a class="bd-toc-link" href="/layout/overview">
        Layout
    </a>
    <ul class="nav bd-sidenav">
        <li class="">
            <a href="/layout/overview/">
                Overview
            </a>
        </li>
        <li class="">
            <a href="/layout/grid/">
                Grid
            </a>
        </li>
        <li class="">
            <a href="/layout/flexbox-grid/">
                Flexbox grid
            </a>
        </li>
        <li class="">
            <a href="/layout/media-object/">
                Media object
            </a>
        </li>
        <li class="">
            <a href="/layout/responsive-utilities/">
                Responsive utilities
            </a>
        </li>
    </ul>
</div>
